# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Migrations cache
**/__pycache__/